{{ partial "core/html-start.html" . }}

{{ partial "core/head.html" . }}

<body class="page-colors minimum-viewport-height">
    {{ partial "core/main-menu.html" . }}

    <div class="main-content">
        <div class="center-space">
            <div class="article-colors">
                {{ with .Params.image }}
                    <img src="{{ . }}" class="fill-container-width"></img>
                {{ end }}
                <article>
                    <header>
                        <h1 class="article-title">{{ .Title }}</h1>
                        <time class="date-color">{{ .Date.Format "Mon Jan 02, 2006" }}</time>
                        <span class="separator">|</span>
                        {{ partial "extra/categories.html" . }}
                        <span class="separator">|</span>
                        {{ partial "extra/tags.html" . }}
                    </header>

                    <hr>

                    <section>
                        {{ with .Params.redirect }}
                            <p>If you are not redirected automatically, follow the <a href="{{ . }}">link</a>.</p>
                        {{ else }}
                            {{ .Content }}
                        {{ end }}
                    </section>

                    <footer class="right-align">
                        <p><small>{{ .Site.Copyright | markdownify }}</small></p>
                    </footer>

                    <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//vagabondians.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!--                    {{ partial "extra/disqus.html" . }} -->
                </article>
            </div>
        </div>
    </div>

    {{ partial "core/js.html" . }}
</body>

{{ partial "core/html-end.html" . }}

